@CHARSET "US-ASCII";

html, body {
	margin:0;
	padding:0;
	height:100%;
}

header {
	padding:2em;
	background-color: #285582;
	box-shadow: 1px 1px 1px #000;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	margin-bottom: 2px;
	border-bottom: 3px ridge #FFF;
}

footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:2em;
	background:#404040;
}

footer div{
	color: #FFF;
	font-weight: normal;
	font-size: 12px;
	letter-spacing: 4px;
	word-spacing: 15px;
	text-align: center;
	padding-top: 0.8em;
	padding-bottom: 0.5em;
}

h1 {
	margin:0;
	color: #FFF;
	font-family: Arizonia;
	font-size: 3.5em;
	font-weight: normal;
	letter-spacing: 4px;
	word-spacing: 15px;
	text-align: center;
}

h2 {
	margin-top: 20px;
	font-size: 1.2em;
	padding: 10px;
	position: relative;
	text-align: center;
}

.container {
	min-height:100%;
	position:relative;
}

.content {
	padding-bottom:60px;
	width: 100%;
	min-height:100%;
	position:relative;
}

.input-text {
	border: 2px solid #AAA;
	border-radius: 10px;
	padding: 3px;
	margin: 2px;
}

.input-button {
	background-color: #E5E5E5;
	background-image: linear-gradient(top, #FFF, #E5E5E5);
	border: 1px solid #AAA;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
	color: #000;
	font-size: 0.8em;
	font-weight: bold;
	padding: 5px 10px;
}

.input-button:hover {
	background-color: #285552;
	background-image: linear-gradient (top, #3775B3, #285582);
	border-color: #204569;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 3px #3775B3;
	color: #FFF;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6);
}

.input-button:active {
	background-color: #204569;
	background-image: none;
	border-color: #1A3754;
	box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15);
}